[submodule "lisp/centered-window-mode"]
	path = lisp/centered-window-mode
	url = git@github.com:anler/centered-window-mode.git
[submodule "lisp/general-close"]
	path = lisp/general-close
	url = git@github.com:emacs-berlin/general-close.git
